@model Team[]
@{
    ViewData["Title"] = "Clone team iterations";
}

<h1>Clone team iterations</h1>

@{
    await Html.RenderPartialAsync("_CloneByTeam", Tuple.Create(Model, "TeamSettings", "CloneTeamIterations"));
}
