@model Team[]
@{
    ViewData["Title"] = "Clone team settings";
}

<h1>Clone team settings</h1>

@{ await Html.RenderPartialAsync("_CloneByTeam", Tuple.Create(Model, "TeamSettings", "CloneTeamSettings")); }
