@model ProjectBase[]
@{
    ViewData["Title"] = "Clone pull requests";
}

<h1>Clone pull requests</h1>

@{
    await Html.RenderPartialAsync("_CloneByProject", Tuple.Create(Model, "Repository", "ClonePullRequests"));
}
