@model LoginModel

@{
    ViewData["Title"] = "Clone devops template";
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.OrganizationName)
        @Html.TextBoxFor(m => m.OrganizationName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AccessToken)
        @Html.PasswordFor(m => m.AccessToken, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}