@model Team[]
@{
    ViewData["Title"] = "Clone team field values";
}

<h1>Clone team field values</h1>

@{ await Html.RenderPartialAsync("_CloneByTeam", Tuple.Create(Model, "Team", "CloneTeamFieldValues")); }
