@model CardItem[]

<table class="table table-striped">
    <thead>
        <tr>
            <th id="fieldid">Field identifier</th>
            <th id="displayformat">Display format</th>
        </tr>
    </thead>
        <tbody>
        @if (Model.Length > 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FieldIdentifier</td>
                    <td>@item.DisplayFormat</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="2">- empty -</td>
            </tr>
        }
    </tbody>
</table>
<div style='margin-bottom:50px'></div>
