@model ProjectBase[]
@{
    ViewData["Title"] = "Clone project";
}

<h1>Clone project</h1>

<h2 class="text-success">@ViewBag.SuccessMessage</h2>

@{ await Html.RenderPartialAsync("_CreateProjectForm", Tuple.Create(Model, "Project", "CloneProject")); }
