@model ProjectBase[]
@{
    ViewData["Title"] = "Create project from template";
}

<h1>Create project from template</h1>

@{ await Html.RenderPartialAsync("_CreateProjectForm", Tuple.Create(Model, "Project", "CreateProject")); }
