@model Iteration

<div class="accordion" id="accordionExample">
    @{
        void ShowIteration(Iteration iteration)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-@iteration.Id">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-@iteration.Id" aria-expanded="true" aria-controls="collapse-@iteration.Id">
                        <h3>@iteration.Name</h3>
                    </button>
                </h2>
                <div id="collapse-@iteration.Id" class="accordion-collapse collapse" aria-labelledby="heading-@iteration.Id">
                    <div class="accordion-body accordion">
                        <div>Id: @iteration.Id</div>
                        @if (iteration.Attributes != null)
                        {
                            if (iteration.Attributes.StartDate != null)
                            {
                                <div>Start: @iteration.Attributes.StartDate</div>
                            }
                            if (iteration.Attributes.FinishDate != null)
                            {
                                <div>Finish: @iteration.Attributes.FinishDate</div>
                            }
                        }
                        @if (iteration.HasChildren)
                        {
                            foreach (var child in iteration.Children)
                            {
                                ShowIteration(child);
                            }
                        }
                    </div>
                </div>
            </div>
        }
        ShowIteration(Model);
    }
</div>
