@model ProjectBase[]
@{
    ViewData["Title"] = "Clone iterations";
}

<h1>Clone iterations</h1>

@{
    await Html.RenderPartialAsync("_CloneByProject", Tuple.Create(Model, "Iteration", "CloneIterations"));
}
